<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
<header class="header">

    <div class="messages">
        {% for message in get_flashed_messages() %}
        <div class="alert">
            <p class="alert__message">
                {{message}}
            </p>
        </div>
        {% endfor %}
    </div>

</header>    

<main class="main">
    {% block content %}
    {% endblock content %}
</main>


</body>
</html>